<!--
<div style="overflow:auto;-webkit-overflow-scrolling:touch">
    <iframe style="width:100%;height:600px" src="http://www.orsay.com/de-de/neuheiten.html"></iframe>
</div> -->



<ion-view title="Shop" hide-back-button="true" class="card-bg">

  <ion-content class="has-header">
    <iframe
                 name="iframe_a"
                 id="iframea"
                 src="http://www.orsay.com/de-de/neuheiten.html"
                 frameborder="0"
                 style=" overflow:hidden;
                         overflow-x:hidden;
                         overflow-y:hidden;
                         height:100%;
                         width:100%;
                         position:absolute;
                         top:14px;left:0px;right:0px;bottom:0px;
                         -ms-touch-action: none;"
                         height="100%" width="100%"
        ></iframe>
  </ion-content>

</ion-view>
