<ion-view title="Shop" hide-back-button="true" class="card-bg">

      <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-content has-header="true" has-padding="true" scroll="true" overflow-scroll="true" class="iframe-wrapper">
        <iframe
                 name="iframe_a"
                 id="iframea"
                 data-tap-disabled="true"
                 src="http://www.orsay.com/de-de/neuheiten.html"
                 frameborder="0"
                 style="overflow:auto;-webkit-overflow-scrolling:touch"
                 height="2000px" width="100%"
        ></iframe>
      </ion-content>
</ion-view>
