<!--
<div style="overflow:auto;-webkit-overflow-scrolling:touch">
    <iframe style="width:100%;height:600px" src="http://www.orsay.com/de-de/neuheiten.html"></iframe>
</div> -->



<ion-view title="Shop" hide-back-button="true" class="card-bg">

      <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-content has-header="true" has-padding="true">
        <iframe
                 name="iframe_a"
                 id="iframea"
                 src="http://www.orsay.com/de-de/neuheiten.html"
                 frameborder="0"
                 style="overflow:auto;-webkit-overflow-scrolling:touch"
                 height="2000px" width="100%"
        ></iframe>
      </ion-content>
</ion-view>
